@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    height: 100vh;
    background: #181717;
}
.body{
    size: 100vh;
}
.head {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: end;
}
.head .itemshead{
    padding: 20px;
    display: block;
    align-items: end;
    justify-content: end;
    margin-left: 50vw;
}
.head .itemshead span{
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
    margin-right: 20px;
}
.logo{
    display: block;
    padding: 10px;
}
.logo img{
    position: relative;
    top: 25px;
    margin-left: 5vw;
}
.icons{
    display: flex;
    padding: 10px;
}
.icon{
    display: inline-block;
    width: 30px;
    font-size: 25px;
    color: #ffffff;
    margin-left: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container .textbox {
    justify-content: space-between;
    margin-left: 10vw;
    width: 40vw;
    height: 500px;
}
.container .imghover{
    position: relative;
    top: 40px;
    margin-left: 70px;
    width: 40vw;
    height: 500px;
}
.container .imghover .big_img{
    padding: 50px;
    position: relative;
    display: block;
}
.container .imghover .big_img img{
    width: 600px;
    height: 600px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}
.container .imghover .small_img{
    box-shadow: 10px 5px 5px black;
    position: absolute;
    display: block;
}
.small_img img {
    position: absolute;
    bottom: 15px;
    width: 350px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.textbox h1{
    color: #ffffff;
    letter-spacing: -0.1ch;
    text-transform: uppercase;
    font-size: 6em;
}
.textbox span{
    color: #ffffff;
}
.textbox .maleta {
    color: #df4c08;
}
.btn-explore{
    padding: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    border-radius: 5px;
    color: #181717;
    background-color: #df4c08;
    border: #df4c08;
    width: 250px;
}
.about{
    display: grid;
    grid-template-columns: 50% 50%;
}
.hero-img{
    height: 85vh;
    mask-image: url("/assets/FORMA\ IMAG.svg");
    mask-size: cover;
    margin-left: 5vw;
}
.abouttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    padding-left: 0;
    height: 80vh;
    gap: 30px;
}
.abouttext .btn-explore{
    margin-top: 0;
    font-size: 20px;
    width: 190px;
    height: 55px;
    font-weight: 500;
}
.abouttext h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}
.newproducts{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    min-height: 100vh;
}
.productcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
    padding: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55vh;
}
.card h1 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.card h5 {
    text-align: right;
    font-weight: 600;
    width: 100%;
    margin: 50px 0 0 0;
}

.card .prd-pic{
    width: 400px;
    border-radius: 10px;
}
.prd-img-2 {
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
}
.prd-img-2 .prd-pic {
    margin-top: auto; 
}

@media (max-width: 1366px) {
    .container .imghover .big_img img{
        width: 400px;
        height: 400px;
    }
    .small_img img{
        width: 270px;
    }
    .textbox h1{
        line-height: 85px;
    }
    .head .itemshead {
        margin-left: 40vw;
    }
    .logo img{
        top: 35px;
    }
    .head{
        height: 70px;
        width: auto;
    }
    .btn-explore{
        margin-top:15px;
    }
    .header{
        height: 120vh;
    }
    .hero-img{
        height: 90vh;
    }
    .abouttext{
        gap:10px;
    }
    .card .prd-pic{
        width: 300px;
    }
    .card{
       height:70vh;
    }
}